
:root {
--main-title-color: #FFFFFF;
--third-tittle-color: #4D5AE5;
--color-span: #2E2F42;
--color-adress: #434455;
--footer-color: #E7E9FC;
--products-color: #404BBF;
--backgraund-fon: #F4F4FD;
}

body {
font-family: 'Roboto', sans-serif;
background: var(--main-title-color);
color: #434455;
}

.font {
font-style: normal;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}

.link:hover, link:focus {
color:var(--products-color);
}


.title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}



/*....... Header.......*/

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-tittle-color);
}

.studio-color {
color: var(--color-span);
}


.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

color: var(--color-span);
}


.header-link:hover,
.header-link:focus {
color:var(--products-color);
}

.header-address {
font-style: normal;
}

.header-address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-adress);
}

.header-address-link:hover,
.header-address-link:focus {
color:var(--products-color);
}



/**......Effective....*/
.main-hero {
background-color: var(--color-span);
}

.main-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color:var(--main-title-color);
}

.modal-btn {
background-color: var(--third-tittle-color);
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--main-title-color);
cursor: pointer;
}

.modal-btn:hover {
color:var(--main-title-color)
}

.modal-btn:focus {
color:var(--main-title-color);
}

.modal-btn:hover {
background-color: var(--products-color);
}

.modal-btn:focus {
background-color:var(--products-color);
}

/*----Second section----*/

.hero-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--color-span);
}


.hero-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-adress);
}


/*-----What are we doing---*/


.section-second-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-span);
}


/**---Our Team--*/
.section-three {
background-color:var(--backgraund-fon);
}
.four-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
background-color:var(--backgraund-fon);
}

.section-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-span);
}

.section-link {
background-color:var(--main-title-color);
}

.section-three-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-span);
}


.section-three-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-adress);
}



/*-- Footer --*/
.footer-main {
background-color: var(--color-span);
}

.footer-main-link {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color:var(--third-tittle-color);
}

.footer-studio-color {
color:var(--backgraund-fon);
}

.footer-main-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-main-text-color);
}

.footer-main-link:hover,
.footer-main-link:focus {
color:var(--products-color);
}




/*--Portfolio--*/

.filter-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--third-tittle-color);
cursor: pointer;
}

.filter-btn {
background:var(--backgraund-fon);
}

.filter-btn:hover,
.filter-btn:focus {
color:var(--main-title-color);
}

.filter-btn:hover,
.filter-btn:focus {
background-color: var(--products-color);
}



.category-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--color-span);
}

.category-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-adress);
}